<h1 class="register-title">Welcome</h1>
  <form class="register">
    
    <input type="email" class="register-input" placeholder="# Employee">
    
    <input type="submit" value="Arrive" class="register-button">
    <input type="submit" value="Leave" class="register-button ">
  </form>


